    RewriteEngine on
     
    # if a directory or a file exists, use it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
     
    # otherwise forward it to index.php
   # RewriteRule ^me/.index.php /$1 [L,R=301]
    #RewriteRule . me/. index.php


    RewriteRule . index.php
    